<%= render 'shared/navbar' %>
 
<table>
    <tbody></tbody>
        <% @dogs.each do |dog| %>
           
           <div class="carde">
            <div class="card-product">
           
            <%= image_tag "img1.svg",class: :img %>
            <%# <%= cl_image_tag("…/v1592465738/gnrqphwbzqqn0etfr8ta.jpg",
            width: 400, height: 300, crop: :fill) %> %>
            <div class="card-product-infos">
                <%= dog.name %>
            <%= dog.description %>
            <%= link_to 'Show', dog %>
            </div>
            </div>
            </div>
                
        
        <% end %>
    </tbody>
</table>
    <%= render 'shared/footer' %>
