<%= render 'shared/navbar' %>
<%= render 'shared/search-bar' %>
<table>
    <tbody></tbody>
    <% if @dogs.length == 0 %>
        <center> <h2>Ouaf ! Aucun chien n'est disponible dans la ville indiquée !</h2>
        <%= image_tag "chienclindoeil.jpg"%>
        <br>
        <%=  link_to 'Retour', root_url , method: :get,  class: "generique" %>
        </center>
    <% end %>
        <% @dogs.each do |dog| %>
           
           <div class="carde">
            <div class="card-product">
            <%= image_tag "chien.jpg"%>
            <div class="card-product-infos">
                <%= dog.name %>
            <%= dog.description %>
            <%= link_to 'Show', dog %>
            </div>
            </div>
            </div>
                
        
        <% end %>
    </tbody>
</table>

<%= render 'shared/footer' %>
