<%= render 'shared/navbar' %>
<%= render 'shared/search-bar' %>
<table>
    <tbody></tbody>
    <% if @dogs.length == 0 %>
        <center> <h2>Ouaf ! Aucun chien n'est disponible dans la ville indiquée !</h2>
        <%= image_tag "chienclindoeil.jpg"%>
        <br>
        <%=  link_to 'Retour', root_url , method: :get,  class: "generique" %>
        </center>
    <% end %>
        <% @dogs.each do |dog| %>
           
           <div class="carde">
            <div class="card-product">
<<<<<<< HEAD
            <%= image_tag "chien.jpg"%>
=======
           
            <%= image_tag "img1.svg",class: :img %>
            <%# <%= cl_image_tag("…/v1592465738/gnrqphwbzqqn0etfr8ta.jpg",
            width: 400, height: 300, crop: :fill) %> %>
>>>>>>> 400affc9df4e79b356450dd70aa26cfa2f810b80
            <div class="card-product-infos">
                <%= dog.name %>
            <%= dog.description %>
            <%= link_to 'Show', dog %>
            </div>
            </div>
            </div>
                
        
        <% end %>
    </tbody>
</table>
<<<<<<< HEAD

<%= render 'shared/footer' %>
=======
    <%= render 'shared/footer' %>
>>>>>>> 400affc9df4e79b356450dd70aa26cfa2f810b80
