<%= render 'shared/navbar' %>
<div class= "containerd">
  <div class="fcontainernewdog">
       <center><h3><i class='fas fa-dog' style='font-size:36px;color:red'></i> Creation de Chien <i class='fas fa-dog' style='font-size:36px;color:red'></i></h3></center>
       <br>
      <%= simple_form_for @dog do |f| %>

         <div class="row">
            <div class="col">
              <%= f.input :race %>
              <%= f.input :location %>
            </div>
            <div class="col">
            <%= f.input :name %>
            <%= f.input :age %>
            </div>
        </div>
              <%= f.input :price %>
              <%= f.input :photo, as: :file  %>
                  <%= f.input :description , class: "form-control" %>
                  <%= f.submit "ajouter votre chien", class: "generique" %>

    <% end %>
  </div>
 </div>

<%= render 'shared/footer' %>
