<%= render 'shared/navbar' %>

<div class = "containerd">

<div class= "containerposting">

  <div class="containershowdog">
  <h1>Infos sur chien n°....</h1>
    <strong>Name</strong>
    <%= @dog.name %>
    <br>
    <strong>Location</strong>
    <%= @dog.location %>
    <br>
    <strong>User</strong>
    <%= @dog.user %>
    <br>
    <strong>Price</strong>
    <%= @dog.price %>
    <br>
    <strong>Description</strong>
    <%= @dog.description %>
  </div>
  <%=  link_to 'return', root_url , method: :get,  class: "generique" %>
  <%=  link_to 'booking', new_dog_booking_path(@dog) , method: :get,  class: "generique" %>
 </div>
</div>
  <%= render 'shared/footer' %>