<%= render 'shared/navbar' %>
<h1>Infos sur chien n°....</h1>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
  <%= @dog.location %>
  <%= @dog.user %>
  <%= @dog.price %>
  <%= @dog.description %>

</p>
  <%=  link_to 'return', root_url , method: :get,  class: "generique" %>
  <%=  link_to 'booking', new_dog_booking_path(@dog) , method: :get,  class: "generique" %>