<%= render 'shared/navbar' %>

<div class = "containerd">

<div class= "containerposting">

  <div class="containershowdog">

  <h1>Infos sur chien n°<%= @dog.id %></h1>


 <% if @dog.photo.attached?%>

      <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% else %>
      <%# <% image_tag %>
    <% end %>

    <strong>Nom</strong>
    <%= @dog.name %>
    <br>
    <strong>Race</strong>
    <%= @dog.race %>
    <br>
    <strong>Ville</strong>
    <%= @dog.location %>
    <br>
    <strong>Identifiant du propriétaire</strong>
    <%= @dog.user.id %>
    <br>
    <strong>Prix</strong>
    <%= @dog.price %> € / jour
    <br>
    <strong>Description</strong>
    <%= @dog.description %>
    <br>
    <strong>Avis sur le chien</strong> 
     <% @dog.reviews.each do |review| %>
     <li>Note : <%= review.rating %>/5 - "<%= review.comment %>" 
     <% end %>
    </div>


  </div>
  <%=  link_to 'Retour', root_url , method: :get,  class: "generique" %>
  <%=  link_to 'Reserver', new_dog_booking_path(@dog) , method: :get,  class: "generique" %>
 </div>
</div>
  <%= render 'shared/footer' %>
