<h1>Créer une nouvelle réservation</h1>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Mes réservations", bookings_path %>

<br><br><br><br><br><br>
<%= link_to("Faire une nouvelle réservation", dogs_path, class:"btn btn-success") %>
<br><br><br><br><br><br>
<%= link_to "Revenir à l'accueil", root_url %>
<%# 
https://kitt.lewagon.com/knowledge/tutorials/flatpickr %>


