<%= render 'shared/navbar' %>
<h1>Modifier ma réservation</h1>
  <p>Booking User N°: <%= @booking.user_id %></p>
  <p>Booking Dog N°<%= @booking.dog_id %></p>
  <p>Booking date : <%= @booking.booking_date %> </p>

<%= link_to "Retour à Mes réservations", bookings_path %>
<br><br><br><br><br><br>
<%= link_to("Faire une nouvelle réservation", dogs_path, class:"btn btn-success") %>
<br><br><br><br><br><br>
<%= link_to "Revenir à l'accueil", root_url %>

  <%= render 'shared/footer' %>