<%= render 'shared/navbar' %>

<div class="bookingform">

  <div class="col-sm-6 col-sm-offset-3 task-form">
  <h1 class="text-center ">Réservez ce chien</h1>
      <%= simple_form_for [@dog, @booking] do |f| %>
      <%= f.input :check_in_date, class:"form-control" %>
      <%= f.input :check_out_date, class:"form-control" %>
      <%= f.submit class:"form-control form-btn"%>
   <% end %>
  <%= link_to "Voir mes réservations", bookings_path %>
  </div>
</div>
<br>
<<<<<<< HEAD
=======
<br>
<br>
<%= link_to "Voir mes réservations", bookings_path %>
<<<<<<< HEAD
>>>>>>> f5fbbe62a2e2570a4e8660e7250da00c2b828307

<%= render 'shared/footer' %>
=======
  <%= render 'shared/footer' %>

>>>>>>> 400affc9df4e79b356450dd70aa26cfa2f810b80
