
<div class = "containerd">

<div class = "footer">
 <%= image_tag "logo.svg" ,class: :logofooter %>
<div class ="footer-n1">
   
    <ul class =" endfooter">
        <li><h5 class ="h5-footer">Mobile app</h5></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
    </ul>

    <ul>
        <li><h5 class ="h5-footer">Mobile app</h5></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
    </ul>

    <ul>
        <li><h5 class ="h5-footer">Mobile app</h5></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
        <li><p>Mobile app</p></li>
    </ul>

  
</div>

<div class ="footer-n2">
<p class ="startfooter">© Photo, Inc. 2019. We love our users!</p>
<div class ="endfooter">
    <ul  class ="footer-footer-ul">
        <li> <p>Follow us:</p></li>
        <li><%= image_tag "Ellipse.svg" %></li>
        <li><%= image_tag "Ellipse.svg" %></li>
        <li><%= image_tag "Ellipse.svg" %></li>
        <li><%= image_tag "Ellipse.svg" %></li>
     
    </ul>
    </div>
</div>
</div>
</div>