
 <%= render 'shared/navbar' %>
  <%= render 'shared/search-bar' %>
 <%= render 'shared/first-card' %>

  <%= render 'shared/carddiv' %>

<div class ="containerd">
    <%= render 'shared/img-text-align'  %>
    <%= render 'shared/img-text-align'  %>
    <%= render 'shared/img-text-align'  %>
 </div>

 <div class ="containerd">
    <%= render 'shared/img-text-align' %>
    <%= render 'shared/img-text-align'  %>
    <%= render 'shared/img-text-align' %>
 </div>

  <%= render 'shared/footer' %>