<%= render 'shared/navbar' %>
<div class= "containerreview">
<br>
 <div class="col-sm-6 col-sm-offset-3 task-form bg-white">

  <h1>Laissez un avis</h1>
  <br>
      <%= simple_form_for [@booking, @review] do |f| %>
      <div class="rating rating2"><!--
		    --><a class="stars" data-value="5" title="Give 5 stars">★</a><!--
		    --><a class="stars" data-value="4" title="Give 4 stars">★</a><!--
		    --><a class="stars" data-value="3" title="Give 3 stars">★</a><!--
		    --><a class="stars" data-value="2" title="Give 2 stars">★</a><!--
		    --><a class="stars" data-value="1" title="Give 1 star">★</a>
	    </div>
      <%= f.input :rating %>
      <%= f.input :comment, placeholder: "Laisser un avis" %>
      <%= f.submit "Publier votre avis", class: "generique" %>
      <%# <%= f.button :button, "Annuler", type: "reset", class: "generique" %> 
       <%= f.button :button, link_to("Nouvelle réservation", dogs_path, class:"generique") %>
       <%= link_to "Accueil", root_url ,class:"generique" %>
    <% end %>
     <%# <%=  link_to 'return', root_url , method: :get,  class: "generique" %> 
 </div>
 <br>
</div>
  <%= render 'shared/footer' %>
